<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header-container">
        <div class="main-text">
            <div class="logo">
            <a id="title" href="index"><h1>STUDIO GHIBLI</h1></a>
            <h2>A fanbase webpage <br> with your favourite Ghibli lore ✨</h2>
        </div>
        <nav>
            <ul class="menu">
                <a href=""><li>About</li></a>
                <a href="film-list"><li>Movie List</li></a>
                <a href=""><li>Resources</li></a>
            </ul>
         <img id="chihiro" src="/img/857-8570280_more-under-the-cut-spirited-away-no-background.png" alt="">
        </div>
        </nav>
    </header>
    <footer>
        <p>Made by Milki Kiwi 🥝</p>
        <ul class="contact">
            <a href=""><li>Webpage</li></a>
            <a href=""><li>Twitter</li></a>
            <a href=""><li>GitHub</li></a>
        </ul>
    </footer>
</body>
</html>