<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
 <header>
        <div class="logo">
            <a href="index"><p>Studio Ghibli</p></a>
        </div>
        <nav>
            <ul>
                <a href=""><li>About</li></a>
                <a href="film-list"><li>Movie List</li></a>
                <a href=""><li>Resources</li></a>
            </ul>
        </nav>
        <h1>Welcome to Studio Ghibli</h1>
        <h2>A fanbase webpage</h2>
    </header>
    {{{ body }}}
    <footer>
        <p>Made by Milki Kiwi</p>
        <p>Contact</p>
        <ul>
            <a href=""><li>Webpage</li></a>
            <a href=""><li>Twitter</li></a>
            <a href=""><li>GitHub</li></a>
        </ul>
    </footer>   
</body>
</html> 
 
 
 
 
 